<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    strict="true"
    colors="true"
    bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="Functional Options Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <!-- Ignore vendor folder for code coverage -->
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>src</directory>
        </whitelist>    
        <blacklist>
            <directory>vendor</directory>
        </blacklist>
    </filter>
</phpunit>
